// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$project-card-gray: #2d2d2d;
$textu-purple: rgb(82,58,246);
$textu-purple-dark: rgb(100,124,246);
$textu-text-title: #523BDD;
