<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% if @entity %>
  <%= line_chart @entity.sentiment_over_time %>
<% else %>
<p>Let's put a default yeti saying search for entities here</p>
<% end %>
