<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="graph-container-card">
  <h3>Average sentiment score over time for "location"</h3>
  <% variable = Entity.find_by(name:"location").sentiment_over_time  %>
  <%= line_chart variable %>
</div>

