<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<% if @entity %>
  <%= line_chart @entity.sentiment_over_time, xtitle: 'Month', ytitle: 'Score', colors: ["#1e3c68"], height: "380px", library: {animation: { easing: 'easeOutQuad' }} %>
<% else %>
<img src="<%= image_path("confused.svg") %>" alt="" class="no-data-yeti">
<br>
<br>
<h4 class="no-data-yeti-text">Hmmm... No keyword selected. Select a keyword from the list for me to analyse!</h4>
<% end %>
