
<div class="container">
  <canvas id="sentiment_score_average"></canvas>
</div>

<script>

  function initialize_chart() {

    Chart.defaults.global.elements.point.backgroundColor = 'rgb(82, 58, 246)';

    var ctx = document.getElementById('sentiment_score_average').getContext('2d');

    var json_string = '<%= raw @datasets.to_json %>'

    var datasets = JSON.parse(json_string)

    var scatterChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: datasets
        },
        options: {
            legend: {
              display: false,
            },
            tooltips: {
              callbacks: {
                 label: function(tooltipItem, data) {
                    var label = data.datasets[tooltipItem.datasetIndex].label;
                    return label + ' (occurences: ' + tooltipItem.xLabel + ', average sentiment: ' + tooltipItem.yLabel + ')';
                 }
              }
            },
            scales: {
                xAxes: [{
                  scaleLabel: {
                      display: true,
                      labelString: 'Number of Occurences'
                    },
                    type: 'linear',
                    position: 'bottom'
                }],
                yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Average Sentiment Score'
                  },
                }]
            }
        }
    });
  }

  if (document.readyState === 'complete') {
      initialize_chart();
  } else {
      document.addEventListener("DOMContentLoaded", initialize_chart);
  }

</script>
