<div class="container">
  <h3>Entity mentions with highest sentiment score</h3>

  <%= bar_chart Entity.top_highest_sentiment, xtitle: "Mentions", ytitle: "Entity" %>

  <div>
    <h2>HELLOOO</h2>
    <% Entity.top_highest_sentiment.each do |e| %>
    <p><%= e %></p>
    <% end %>
  </div>

</div>
