<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="top5_container">
  <h3>Mentions with highest sentiment score</h3>
  <div class="top5_info">
    <div class="top5list">
      <% Entity.top_highest_sentiment_with_avgs.each do |e| %>
      <p> <%= e.second %> </p>
      <% end %>
    </div>

    <%= bar_chart Entity.top_highest_sentiment, xtitle: "Mentions", legend: false%>

  </div>
</div>
