<div class="entities-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <form>
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </li>
    <% @entities.each do |entity| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= entity.name %>
      <span class="badge badge-primary badge-pill"><%= entity.occurrences %></span>
    </li>
    <% end %>
  </ul>
</div>
