         <div class="layout-tour-intro">

<p>Over time, the score for the keyword "location" has changed from <span class="number-highlight number-highlight-positive">+2.77</span> in Oct '14 to 0.81 in Jan '16.</p>
</div>
<div class="entity-chart">
  <%= render 'entities_list' %>
  <div class="entity-chart-graph">
    <%= render 'entities/show' %>
  </div>
</div>
