<%= render 'shared/sidebar' %>
<div class="main d-flex">
  <%= render 'entities_list' %>
  <div class="entities-graph-card">
    <h2>Displaying reviews for selected entity</h2>
    <%= render 'reviews_by_entity' %>
  </div>
</div>
