<<<<<<< HEAD
<%= render 'shared/banner' %>
<<<<<<< Updated upstream
=======

=======
<h1>Pages#test</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'graphs/sentiment_score_average' %>
>>>>>>> Put the thing on the stuff
>>>>>>> Stashed changes
