<div class="container">
  <h2 class="projects-title">My Projects</h2>
  <div class="project-cards">
    <% if current_user.projects.any? %>
      <% @projects.each do |project| %>
        <%= link_to project_reviews_path(project) do %>
          <div class="project-card">
            <div class="project-card-img"><img src="https://picsum.photos/320/160" alt=""></div>
            <div class="project-card-info d-flex justify-content-between">
              <div class="project-card-content">
                <h3><%= project.project_name %></h3>
                <p>created at 14/04/18</p>
              </div>
              <div class="project-card-function">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= link_to new_project_path do %>
          <div class="add-project-card">
            <i class="far fa-plus-square mr-2"></i>
            Add Project 🤗
          </div>
      <% end %>
    <% else %>
        <%= link_to new_project_path do %>
          <div class="add-project-card">
            <i class="far fa-plus-square mr-2"></i>
            add your first project 😊
          </div>
        <% end %>
    <% end %>
  </div>
</div>
