.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  width: 288px;
  font-size: 16px;
  color: white;
  background-color: $textu-yeti-blue;
  padding-right: 12px;
  padding-left: 0px;
  width: 264px;
  height: 40px;
  padding-top: 8px;

  ul {
    list-style: none;
    width: 264px;
    color: white;
    border-radius: 4px;
  }
}
