.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $textu-background-blue;
  color: #f4f4f4;
}

.banner h1 {
  font-weight: 300;
  text-shadow: 0px 0px 40px $textu-dark-blue;
}

.banner-all {
  display: flex;
  padding-top: 30px;
}

.banner-img {
  margin-top: 56px;
}

.banner-content {
  padding: 56px;
  max-width: 500px;
  text-align: left;
  letter-spacing: 0.5px;
  font-weight: 100;
}


.banner-btn {
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 15px;
  background: transparent;
  transition: background 0.3s;
  font-weight: 500;

  &:hover {
    background: white;
    color: $textu-background-blue;
  }
}

.banner-toolbar {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.banner-faded {
  opacity: 0.8;
}

.banner-yeti {
  transform: scaleX(-1);
}

.banner-text {
  text-shadow: 0px 0px 40px $textu-dark-blue;
}

