.project-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 240px;
}

.project-card{
  width: 320px;
  background-color: white;
  padding: 0px;
  border-radius: 2px;
  margin-top: 0px;
  z-index: 1000;
  box-shadow: 0 0 15px #ddd;
  transform: scale(1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.project-card-img img{
  width:320px;
  background-color: $gray;
  height: 160px;
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}

.project-card-content{
  padding: 20px;

  p{
    font-weight: lighter;
    margin-bottom: 0;
  }
}

.project-card-info {
  align-items: center;
}

.project-card h3 {
  font-size: 20px;
}

.project-card p {
  font-size: 12px;
}

.project-card-function{
  padding: 20px;
  font-weight: lighter;
  font-size: 16px;
  color: $project-card-gray;
}

.project-card-function:hover{
  color: black;
}

.add-project-card{
  width: 320px;
  height: 100%;
  display: flex;
  border: 0.3px dashed $textu-dark-blue;
  justify-content: center;
  align-items: center;
  color: $project-card-gray;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0px;
  color: $textu-dark-blue;

  transform: scale(1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

.project-mascot{
  height: 200px;
  width: 200px;
  margin-top: 80px;
  margin-right: 24px;
}

.welcome-entry {
  background: white;
  margin-left: 16px;
  margin-top: 56px;
  width: 516px;
  padding: 28px;
  border-radius: 16px;
  position: relative;
  font-size: 20px;
  box-shadow: 0 0 15px #ddd;

  &:before {
    content: "\f0d8";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: -80px;
    left: 48px;
    font-size: 100px;
    color: white;
  }
}

.close-welcome {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-welcome:hover{
  color: $textu-dark-blue;
}
