.project-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 0px;
  margin-top: 16px;
  margin-bottom: 240px;
}

.project-card{
  width: 320px;
  background-color: white;
  padding: 0px;
  height: 240px;
  border-radius: 2px;
  box-shadow: 1px 1px $light-gray;
  margin-top: 0px;
  z-index: 1000;
}

.project-card-img img{
  width:320px;
  background-color: $gray;
  height: 160px;
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}

.project-card-content{
  padding: 8px;
  p{
    font-weight: lighter;
  }
}

.project-card h3 {
  font-size: 20px;
}

.project-card p {
  font-size: 12px;
}

.project-card-function{
  margin-right: 8px;
  margin-top: 24px;
  font-weight: lighter;
  font-size: 16px;
  color: $project-card-gray;
}

.project-card-function:hover{
  color: black;
}

.add-project-card{
  width: 320px;
  height: 240px;
  display: flex;
  border: 0.3px dashed $textu-dark-blue;
  justify-content: center;
  align-items: center;
  color: $project-card-gray;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 0px;
  color: $textu-dark-blue;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

.project-mascot{
  height: 200px;
  width: 200px;
  margin-top: 80px;
  margin-right: 24px;
}

.welcome-entry {
  height: 159px;
  background: white;
  margin-left: 16px;
  margin-top: 56px;
  width: 516px;
  padding: 28px;
  border-radius: 16px;
  position: fixed;
}

.welcome-entry .fa-caret-up {
  font-size: 50px;
  position: relative;
  bottom: 60px;
  color: white;
}

.close-welcome {
  position: relative;
  bottom: 68px;
  left: 296px;
}

.close-welcome:hover{
  color: $textu-dark-blue;
}
