.entities-list {

}

.entities-list-item {
  font-size: 14px;
  width: 196px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 0;
  height: 360px;
  overflow-y: auto;
  margin-left: 8px;

}

.sticky-search {
  width: 95%;
  margin-left: 8px;
}

.black-text{
  color: white;
}


.flex-entity{
  display: flex;
}

#entities-list-review {
  margin-top: 8px;
}
