.entities-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 440px;
}

.entities-list--full-height {
  height: 100vh;
  margin-top: 24px;
}

.entities-list-wrapper {
  min-width: 196px;
}


.entities-list-item {
  font-size: 14px;
  width: 196px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 0;
  overflow-y: auto;
  margin-left: 8px;
}

.sticky-search {
  width: 95%;
  margin-left: 8px;
}

.black-text{
  color: white;
}


.flex-entity{
  display: flex;
}

#entities-list-review {
  margin-top: 8px;
}
