.graph {
  margin-top: 72px;
      width: 100%;
}

.graph-container {
  padding: 16px;
  margin-left: 0px;
  width: 85%;
}

.graph-container-card {
  padding: 16px;
  margin-left: 0px;
  width: 85%;
  // border-style: solid white;
  // border-radius: 20px;
  background-color: white;
  // box-shadow: 1px 1px 4px $shadow-grey;
}

.graph-container-card-b {
  padding: 16px;
  margin: 16px;
  width: 95%;
  // border-style: solid white;
  // border-radius: 20px;
  background-color: white;
  // box-shadow: 1px 1px 4px $shadow-grey;
}

.reviews-by-month-container {
  width: 100%;
}
