.navbar {
  background-color: $textu-background-blue;
  justify-content: space-between;
  padding: 0 16px;
  height: 54.67px;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
}

