.navbar {
  background-color: $textu-background-blue;
  justify-content: space-between;
  padding: 0 16px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: $textu-dark-blue !important;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
}

