.number-highlight {
  background: $light-gray;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 3px 10px;
}

.number-highlight-positive {
  background: $green;
  color: white;
}

.number-highlight-neutral {
  background: $blue;
  color: white;
}

.number-highlight-negative {
  background: $red;
  color:white;
}

.number-highlight-bigger {
  background: $light-gray;
  font-weight: bold;
  font-size: 24spx;
  display: inline-block;
  padding: 3px 10px;
}

.number-highlight-bigger-positive {
  background: $green;
  color: white;
}

.number-highlight-bigger-neutral {
  background: $blue;
  color: white;
}

.number-highlight-bigger-negative {
  background: $red;
  color:white;
}

.number-highlight-positive-mentions {
  background: $light-gray;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 3px 10px;
  background: $green;
  color: white;
  margin: 5px;
}

.number-highlight-negative-mentions {
  background: $light-gray;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 3px 10px;
  background: $red;
  color: white;
  margin: 5px;
}
