
.recommendations-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0px 20px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .recommendations-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recommendations-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recommendations-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recommendations-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .recommendations-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.card-category-reccomendations {
  padding: 4px 6px;
  background-size: cover;
  background-position: center;
  height: 180px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: black;
  font-size: 19px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  position: relative;

  p {
    margin: 3px 6px;
  }
}

.card-category-reccomendations .card-recommendatios-angry-jeti {
  position: absolute;
  right: -30px;
  top: 99px;
}

.card-category-reccomendations .card-recommendatios-happy-jeti {
  position: absolute;
  right: -33px;
  top: 108px;
}

.mentions {
  margin: 12px 10px 0px 10px;
}

