.review {
  padding: 8px;
  background-color: white;
  margin: 2px 0px 12px 12px;
  border-radius: 6px;
  width: 1000px;
}


.review-body, .review-header{
  display: flex;
  justify-content: space-evenly;
}
 .review-index {
  display: flex;
 }

.table-borderless {
  margin: 24px;
}
