#mySidebar.sidebar-closed {
  width: 50px;
  .symbol{
    margin-left: -16px;
  }

  .symbol-text{
    margin-left: 14px;
  }

  .font-awsome{
    margin-left: -12px;
  }

  .closebtn {
  margin-left: 0px;
  }
}

#mySidebar.font-awsome {
  font-size: 20px;
}

.main.sidebar-closed {
  margin-left: 40px;
}

.symbol.sidebar-closed {
  margin-left: -16px;
}

#textu-logo.sidebar-closed{
  margin-left: 52px;
}

.closebtn {
  margin-left: 130px;
}


.sidebar {
  height: 100%; /* 100% Full-height */
  width: 196px;/* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  left: 0;
  background-image: linear-gradient($textu-purple, $textu-purple-dark); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#textu-logo{
  color: white;
  text-align: center;
  margin-bottom: 36px;
}

.symbol{
  width: 32px;

}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


.main {
  transition: margin-left 1s;
  padding: 0px;
  margin-left: 196px;
  display: flex;
}

.projects-title{
  margin-top: 24px;
}

