 <div class="layout-tour-intro">
<p> Here's a breakdown of your reviews. Your busiest month was April 2018, and your quietest months were January, February and April.</p>
</div>



<%= render 'graphs/reviews_by_month' %>


