<% content_for :title, "Your tweets" %>

<div class="review-index">
<%= render 'entities_list_reviews' %>
  <table class="table-borderless">
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td>
          <div class="review-item">
             <span class="review-quote review-quote-start">&ldquo;</span>
             <div class="review-item-content">
                <%= review.comments %>
                <p class="review-item-date"> <%= Date.parse(review.date).strftime("%b %d, %Y") %></p>
            </div>
            <span class="review-quote review-quote-end">&rdquo;</span>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
