<div class="layout-tour-intro">
<p> Here's a breakdown of your reviews. Your busiest month was <%= @busiest_month %>, and your quietest month was <%= @quietest_month %>.</p>
</div>
<%= render 'graphs/reviews_by_month' %>


